<html>


<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<center><h1>Bienvenido </h1></center>
	

</body>

<form action="salas" method="get">
		<br/>
		
		<center><input type='submit' value='SALAS'/></center>
</form>


<form action="clase" method="get">
		<br/>
		
		<center><input type='submit' value='CLASES'/></center>
</form>
<br>

<form action="contacto" method="post">
		
		
		<center><input type='submit' value='CONTACTO'/></center>
</form>

<form action="tarifa" method="get">
		<br/>
		
		<center><input type='submit' value='MI TARIFA'/></center>
</form>


	{{#clienteActual}}
	<form action="/opiniones/{{id}}" method="get">
		<br/>
		
		<center><input type='submit' value='Opiniones'/></center>
	</form>
	{{/clienteActual}}

<br>

<form action="/usuariosDisponibles" method="get">
		<br/>
		
		<center><input type='submit' value='Usuarios disponibles'/></center>
</form>

<form action="verClase" method="post">
		<br/>
		
		<center><input type='submit' value='Ver mis clases'/></center>
<form action="crearSala" method="post">
		<br/>
		
		<center><input type='submit' value='Crear Clase'/></center>
</form>
<br>

<center><a href="/">Cerrar sesión</a></center>
</html>