<html>

<body >
	
		<div align = "center"> 
		
		<h1>Bienvenidos a IngerGYM</h1>
		
		<img src="/images/logoPrincipal.png" width="308" height="185"/> 
	
		<form action="/bienvenido" method="get">
		
		<br>
			<input type='submit' value='Loguearse'/>
		</form>
		
		<form action="/registro.html" method="get">
		
			<br/>
			<input type='submit' value='Registrarse'/>
		</form>
		
		<form action="horario" method="post">
			<br/>
			
			<input type='submit' value='Horario'/>
		</form>
	
		</div>
</body>
</html>