<html>


<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<center><h1>Registrarse</h1></center>
	

	<form action="registrarse" method="post">
		
		<p align="center">User: </center>	
		<center><input type='text' name='usuario'required/>
		<p>Email:</p>
		<center><input type='text' name='email'required/></center>
		<p>Edad:</p>
		<center><input type='number' name='edad'required/></center>
		<p>Contraseña:</p>
		<center><input type='password' name='contrasena' required/></center>
		<br>
		<input type='submit' value='Registro'/>
	

</body>

<br>
<br>
<a href="/">Volver</a>
</html>

