
<html>
<head>
	<meta charset="UTF-8"/>
</head>

<body>

	<div align = "center"> 

	 
	<form action="/registro" method="post">
	
		<p>Usuario: </p>
		<input type='text' name='name' required/>
		
		<p>Email:</p>
		<input type='text' name='email' required/>
		
		<p>Edad:</p>
		<input type='number' name='edad' required/>
		
		<p>Contraseña:</p>
		<input type='password' name='passwordHash' required/>
		
		
		<br>
		<br>
		<input type='submit' value='Guardar'/>
	</form>
	
	
	<br>
	<button onclick="location.href='/'">Volver</button>
	</div> 
</body>

</html>
