<html>


<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<center><h1>Bienvenido</h1></center>
	

</body>

<form action="salas" method="get">
		<br/>
		
		<center><input type='submit' value='SALAS'/></center>
	</form>


<form action="clase" method="get">
		<br/>
		
		<center><input type='submit' value='CLASES'/></center>
	</form>
<br>
<form action="contacto" method="post">
		
		
		<center><input type='submit' value='CONTACTO'/></center>
	</form>
	<br>
<center><a href="/">Volver</a></center>
</html>