<html>


<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<center><h1>Contacto:</h1></center>
	<br>
	<center><p>Numero de Contacto: 633333__1</p></center>
	<center><p>Email de Contacto: IngerGYM@gmail.com</p></center>
	<br>
	<center><p>Horario:</p><p style="color:blue;"> Lunes a Viernes: 9:00-22:30</p></center>
	<center><p style="color:blue;"> Sábados, Domingos y festivos: 9:00-14:30</p></center>
	

</body>

<br>
<form action="bienvenido" method="get">
		<br/>
		
		<center><input type='submit' value='Volver'/></center>
	</form>
</html>